.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  margin-bottom: 1px;
}

.App-header {
  background-color: #282c3400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.background {
  background-image: url(./images/ezgif-1-19d868a002.jpg);
  background-size: cover;
    background-position: center;
    width: 100vw; /* 100% of viewport width */
    height: 100vh; /* 100% of viewport height */
    position: fixed;
    z-index: -1;
}

.grid-buttons {
  font-size: 30px;
  color: rgb(95, 95, 95);
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.redirect {
  border: none;
  background-color: #cbcbcb;
  margin: 2px;
  border-radius: 5px;
  width: auto;
  padding: 10px;
  cursor: pointer;
}
.redirect:hover {
  background-color: rgb(180, 180, 180);
}

.grid-buttons:hover {
  background-color: #e7e7e7; /* Change background color */
}

.button-grid {
  display: flex;
  gap: 10px;
  border: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.button-grid button{
  padding: 30px 16px;
  width: 410px;
}

.side-window {
  position: fixed;
  top: 0;
  right: 0;
  width: 600px;
  height: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  z-index: 999; /* Ensure the side window appears above other content */
}

#closeButton {
  border: none;
  background-color: #cbcbcb;
  margin: 20px;
  border-radius: 5px;
  width: 550px;
  padding: 15px;
  cursor: pointer;
}
#closeButton:hover {
  background-color: rgb(180, 180, 180);
}

.trickName {
  font-size: 24px;
  font-weight: bold;
}

.description {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
